/*渐变背景*/
#web_bg {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
}

/*border 标签*/
p.red,span.red{
 --Color:#e91e64;
 --ColorA:rgba(233,30,100,.2)
}
p.green,span.green{
 --Color:#8bc34a;
 --ColorA:rgba(139,195,74,.2)
}
p.blue,span.blue{
 --Color:#03a9f4;
 --ColorA:rgba(3,169,244,.2)
}
p.yellow,span.yellow{
 --Color:#ffc107;
 --ColorA:rgba(255,193,7,.2)
}
p.grey,span.grey{
 --Color:#4c4c4c;
 --ColorA:rgba(76,76,76,.2)
}
.font5{
 background:#f6f6f6;
 border-left-color:#767676;
 display:block;
 font-weight:500;
 line-height:32px;
 text-align:left;
 width:100%
}
span.inline-tag{
 background-color:var(--Color);
 border-radius:.1rem;
 border-radius:6px;
 color:#fff;
 display:inline;
 font-size:90%;
 font-weight:400;
 line-height:1;
 padding:.2em .6em .3em;
 text-align:center;
 vertical-align:baseline;
 white-space:nowrap
}
p.div-border{
 background-color:var(--ColorA,transparent);
 border:1px solid var(--Color,#333);
 border-radius:.4rem;
 padding:10px
}
p.left{
 border-left-color:var(--Color);
 border-left-width:5px
}
p.bottom{
 border-bottom-color:var(--Color);
 border-bottom-width:5px
}
p.right{
 border-right-color:var(--Color);
 border-right-width:5px
}
p.top{
 border-top-color:var(--Color);
 border-top-width:5px
}

#footer{
 -webkit-backdrop-filter:saturate(100%) blur(5px);
 backdrop-filter:saturate(100%) blur(5px);
 border-top-left-radius:20px;
 border-top-right-radius:20px;
 color:#000
}
#footer,#footer:before{
 background:hsla(0,0%,100%,.15)
}
#footer #footer-wrap,#footer #footer-wrap a{
 color:#333
}
#web_bg{
 background:linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
}
::-webkit-scrollbar{
 height:4px;
 width:4px
}
::-webkit-scrollbar-track{
 background-color:rgba(73,177,245,.2);
 border-radius:2em
}
::-webkit-scrollbar-thumb{
 background-color:#49b1f5;
 background-image:-webkit-linear-gradient(45deg,hsla(0,0%,100%,.4) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 75%,transparent 0,transparent);
 border-radius:2em
}
::-webkit-scrollbar-corner{
 background-color:transparent
}
::-moz-selection{
 background-color:#49b1f5;
 color:#fff
}
